// Specific
background = facebook
textWhite = white
textBlack = black
itemsBackground = rgb(238, 238, 238)
leftMenuBackground = rgb(221, 221, 221)
outerBullet = rgb(151, 151, 157)
normalBullet = white
// General
clear = rgba(0, 0, 0, 0)
facebook = #3b5998
transparent = rgba(0, 0, 0, 0)
silver = #F7F7F7
steel = #CCCCCC
error = rgba(200, 0, 0, 0.8)
ricePaper = rgba(255, 255, 255, 0.75)
frost = #D8D8D8
cloud = rgba(200, 200, 200, 0.35)
windowTint = rgba(0, 0, 0, 0.4)
panther = #161616
charcoal = #595959
coal = #2d2d2d
bloodOrange = rgb(255, 90, 30)
// bloodOrange = #fb5f26
snow = white
ember = rgba(164, 0, 48, 0.5)
fire = #e73536
drawer = rgba(30, 30, 29, 0.95)
eggplant = #251a34
border = #483F53
banner = #5F3E63

// Export
:export
    clear clear
    facebook facebook
    transparent transparent
    silver silver
    steel steel
    error error
    ricePaper ricePaper
    frost frost
    cloud cloud
    windowTint windowTint
    panther panther
    charcoal charcoal
    coal coal
    bloodOrange bloodOrange
    snow snow
    ember ember
    fire fire
    drawer drawer
    eggplant eggplant
    border border
    banner banner
    background background
    textWhite textWhite
    textBlack textBlack
    itemsBackground itemsBackground
    leftMenuBackground leftMenuBackground
    outerBullet outerBullet
    normalBullet normalBullet