@import '../../colors/colors'

.container
    color textBlack

.test
    background-color orange
    color white
    padding 20px

.productTile
    padding 8px
    background-color white
    color dark
    margin 5px
    display inline-block
    width 250px

.productTileInnerContainer
    position relative

.productTilePrice
    float right

.productTilePrice > p
    margin-bottom 0px

.productTileTitle
    font-weight bold
    display inline-block

.productTile p
    font-weight 600

$saleIconWidth = 54px

.onSaleContainer
    position absolute
    top 5px
    right 5px
    background-color red
    padding 5px
    border-radius 50%
    width $saleIconWidth
    height $saleIconWidth

.onSaleIcon
    color textWhite
    text-align center
    text-align center
    transform rotate(39deg)
    padding-left 3px
    line-height 20px

.customMarkerLiContainer
    margin-right 5px
    margin-bottom 5px
    vertical-align middle

$cusotmMarketLiWidth = 7px
$cusotmMarketLiWidthInner = 2px

.customMarkerLi
    content ''
    width $cusotmMarketLiWidth
    height $cusotmMarketLiWidth
    border 0.5px solid black
    padding $cusotmMarketLiWidth
    background-color normalBullet
    border-radius 50%

.customMarkerLi.liSelected
    background-color outerBullet

.customMarkerLiInside.liSelected
    content ''
    padding $cusotmMarketLiWidthInner
    border-radius 50%
    background-color normalBullet
    padding 2px
    margin-top -2px
    margin-left -2px

.navLiContainer > *
    display inline-block

.navLiContainer:hover
    cursor pointer

.productItemInfoSection
    padding-top 10px

.productTileDesc
    float left
    margin-bottom 0px

.productTile img
    width 100%

.navText
    color black
    font-weight 600
    user-select none

.wrapper
    display flex

.wrapper > *
    padding 8px

.nav
    background-color leftMenuBackground
    min-width 200px
    padding-left 20px
    padding-right 20px

.products
    background-color itemsBackground
